<div class="container">
  <div class="content">
    <div class="Profile">
      <img
        class="profile-image"
        src="../assets/images/billgate.jpg"
        alt="Bill Gate"
      />
      <h1>Let's Spend Bill Gate's Money</h1>
    </div>

    <div class="net-worth">
      <h1 class="money">$100,000,000,000</h1>
    </div>

    <div class="grid-view">
      <mat-grid-list cols="3" rowHeight="1:1">
        <mat-grid-tile class="tile">
          <mat-grid-tile-header>
            <h1>Big Mac</h1>
          </mat-grid-tile-header>
          <div>
            <img
              class="gridImage"
              src="../assets/images/bigmac.jpg"
              alt="Big Mac"
            />
            <p>$2</p>
          </div>
          <mat-grid-tile-footer>
            <button mat-raised-button color="primary">Sell</button>
            <div>Hello</div>
            <button mat-raised-button color="accent">Buy</button>
          </mat-grid-tile-footer>
        </mat-grid-tile>

        <mat-grid-tile class="tile">
          <mat-grid-tile-header>
            <h1>Big Mac</h1>
          </mat-grid-tile-header>
          <div>
            <img
              class="gridImage"
              src="../assets/images/bigmac.jpg"
              alt="Big Mac"
            />
            <p>$2</p>
          </div>
          <mat-grid-tile-footer>
            <button mat-raised-button color="primary">Sell</button>
            <div>Hello</div>
            <button mat-raised-button color="accent">Buy</button>
          </mat-grid-tile-footer>
        </mat-grid-tile>

        <mat-grid-tile class="tile">
          <mat-grid-tile-header>
            <h1>Big Mac</h1>
          </mat-grid-tile-header>
          <div>
            <img
              class="gridImage"
              src="../assets/images/bigmac.jpg"
              alt="Big Mac"
            />
            <p>$2</p>
          </div>
          <mat-grid-tile-footer>
            <button mat-raised-button color="primary">Sell</button>
            <div>Hello</div>
            <button mat-raised-button color="accent">Buy</button>
          </mat-grid-tile-footer>
        </mat-grid-tile>

        <mat-grid-tile>4</mat-grid-tile>
        <mat-grid-tile>5</mat-grid-tile>
        <mat-grid-tile>6</mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</div>
